annotated-types>=0.5.0
anyio>=3.5.1
certifi>=2023.7.22
click>=8.1.7
configparser>=5.0.0
dnspython>=2.0.2
email-validator>=2.0.0.post1
exceptiongroup>=1.0.3
fastapi>=0.103.0
h11>=0.12.0
httpcore>=0.12.0
httptools>=0.5.1
httpx>=0.23.0
idna>=3.0
itsdangerous>=2.0.2
Jinja2>=3.0.2
MarkupSafe>=2.0.3
orjson>=3.7.10
psycopg2>=2.8.0
pydantic>=2.3.0
pydantic-extra-types>=2.0.0
pydantic-settings>=2.0.0
pydantic_core>=2.8.0
python-dotenv>=1.0.0
python-multipart>=0.0.5
PyYAML>=5.5.1
sniffio>=1.2.0
starlette>=0.24.0
typing_extensions>=4.6.0
ujson>=5.6.0
uvicorn>=0.20.2
uvloop>=0.18.0
watchfiles>=0.20.0
websockets>=11.0
