annotated-types
anyio
certifi
click
dnspython
email-validator
exceptiongroup
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
orjson
pydantic
pydantic-core
pydantic-extra-types
pydantic-settings
python-dotenv
python-multipart
PyYAML
sniffio
starlette
typing-extensions
ujson
uvicorn
uvloop
watchfiles
websockets
